
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

.clearfix:after {
  content: '';
  display: table;
  height: 0;
  clear: both; }

.clearfix:before {
  content: '';
  display: table;
  height: 0;
  clear: both; }

* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1; }
@font-face {
    font-family: 'icomoon';
    src:    url('font/icomoon.eot?19mz7n');
    src:    url('font/icomoon.eot?19mz7n#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?19mz7n') format('truetype'),
    url('font/icomoon.woff?19mz7n') format('woff'),
    url('font/icomoon.svg?19mz7n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
    content: "\e900";
}
.icon-cogs:before {
    content: "\e901";
}
.icon-hammer:before {
    content: "\e902";
}
.icon-checkmark:before {
    content: "\e903";
}
.icon-embed2:before {
    content: "\e904";
}
.icon-html-five:before {
    content: "\e905";
}
.slider-parallax{height: 700px !important;}
.parallax {height: 900px !important;}

.slide2 {
    position: absolute;
    top: 0;
    width: 100%;

}
.slide1 {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

#slider .container {
    height: 100%;
    position: relative;
}
#slider.canvas-slider .swiper-slide img {
    width: 100%;
}
#slider.canvas-slider a {
    display: block;
    height: 100%;
}
.boxedcontainer {
    margin: auto;
    max-width: 1140px;
}
.title-head {
    position: absolute;
    text-align: center;
    top: 234px;
    width: 100%;
    z-index: 100;
}
.title-head h2{
    color: #fff;
    font-size: 64px;
    font-weight: 500;
}
.parallax{position: relative; width: 100%;height: 600px;background: transparent;}
.menu-button:before{

}
.fullwidthbanner-container {

    top: 278px;

}
.video-placeholder {
    background-repeat: no-repeat !important;
    z-index: 4;
}
.flex-caption, .nivo-caption, .slider-caption {
    color: #eee;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    top: 39%;
    transition: top 0.3s ease 0s;
    z-index: 20;
}

.slider-caption h2 {
    font-size: 70px;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    padding: 113px 0 !important;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 100px;
    text-transform: uppercase;
    z-index: 100;
    position: relative;
   /* opacity: 0;*/
}
.slider-caption p {
    font-size: 24px;
    margin-bottom: 10px;
}



/*-----------------------------------------------------------------------------------------------------------------------------*/
.swiper-slide:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    background: url("img/overaly.png");
}
#loading {
  background-color: #1A1B23;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1002;
  margin-top: 0px;
  top: 0px;

}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-animation: loading-center-absolute 1s infinite;
  animation: loading-center-absolute 1s infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }
@-moz-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }
@-o-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }
@-ms-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }

.header{
    top:0;
    width:100%;
    position: absolute;
    z-index:1000;
}

.left-bg{display: none;background: #EE3B24;position: absolute;z-index: 0;height:100%;width: 35%;min-width: 238px;}
.header > .container{padding:25px 15px;}
.header .header-fix {padding:5px 15px;}
.header .header-fix .menu-button:before{
    background: linear-gradient(#EE3B24 20%, transparent 20%, transparent 40%, #EE3B24 40%, #EE3B24 60%, transparent 60%, transparent 80%, #EE3B24 80%);
}
.header .logo-b{
  position: relative;
  float:left;
}
.header .logo-b .avatar {
  float:left;
  width: 90px;
  height: 90px;
  border-radius: 50%; }

.header .logo-b .avatar .sniper {
  border-radius: 50%;
  border: 3px solid #FD5F54;
  border-right-color: #1AD280;
  border-bottom-color: #1AD280;
width: 90px;
  height: 90px;
  position: absolute;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2100ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2100ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2100ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2100ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
 .avatar img {
  border-radius: 50%;
  display: block;
  width: 100%; }
.header .logo-b .logo-text{
  float:left;
  margin: 4px 0 0 20px;
}
.mobile-logo{
    float:left;
    display: none;
    width:100% ;
}
.menu-wrap .mobile-logo .name {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin: 15px 0; }
.header .logo-b .name {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 15px 0 10px 0; }

.menu-wrap .mobile-logo  .mobile-avatar img{width:80px;height: 80px;border-radius: 50%;margin: 31% auto 0 auto;
    display: block;}
.menu-wrap .mobile-logo .name {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 10px 0 5px 0; }
.header .logo-b .position {
  text-align: left;
  color: #fff;
  font-weight: 300;
  font-size: 14px; }
.menu-wrap .mobile-logo .position {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 13px; }
.menu .title-menu{
    border-bottom:1px solid #323440;padding-bottom: 15px;}
.menu .title-menu .avatar-menu img{    width: 37px;
    border-radius: 50%;
    height: 37px;}
.menu .title-menu .avatar-menu {float:left;}
.menu .title-menu  .name{
    color: #fff;
    font-size: 17px;
    margin: 10px 0 0 15px;
    float: left;
    font-weight: 400;
}
.header .header-fix .logo-b .avatar .sniper{width: 60px;height: 60px;  border: 2px solid #FD5F54;
  border-right-color: #1AD280;
  border-bottom-color: #1AD280;}
.header .header-fix .logo-b .avatar{width: 60px;height: 60px;}
.header .header-fix .logo-b .logo-text{margin: 0 0 0 20px;}
.header .header-fix .logo-b .name{font-size:23px;font-weight: 400;margin:8px 0;color:#fff;}
.header .header-fix .logo-b .position{color:#fff;}
.left-side-bar {
  display: none;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  transform: perspective(500px) rotateY(90deg);
  position: fixed;
  z-index: 1;
  min-width: 250px;
  float: left;
  height: 100%;
  background: url("img/header-bg2.jpg") 0% 0;
  /*background:rgba(24,159,208,1);*/
  background-size: cover;
  padding: 0; }
  .left-side-bar .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.1); }

.content {
  background-size: cover;
  padding: 0; }
 .nav-container {
     float: right;
      margin-top: 19px;
     }
 .header-fix .nav-container{margin-top:0;}
 .nav-container ul {
      float: right;
      list-style: none; }
       .nav-container ul li {
        float: left;
        text-align: center;
    }
         .nav-container ul li a {
          -webkit-tap-highlight-color: transparent;
          display: block;
          height: 4.4em;
          color: rgba(249, 249, 249, 0.9);
          text-decoration: none;  }
          .header-fix .nav-container ul li a{color:#323232;}
          .header-fix .nav-container ul li a:hover i{color:#333;}
          .nav-container ul li a i {
            position: relative;
            display: inline-block;
            margin: 12px 10px;
            padding: 0.4em;
            float: left;
            border-radius: 50%;
            font-size: 1.2em;

            transform: translate3d(0, 0, 0);
              box-shadow: 0 0 0 0.8em transparent;
            transition: box-shadow .6s ease-in-out; }
            .header-fix .nav-container ul li a{color:#323232;}
           .nav-container ul li a:hover i, .content .nav-container ul li a:active i, .content .cd-3d-nav-container ul li a:focus i {
             box-shadow: 0 0 0px 0px   rgba(25,151,196, 0.5);
            transition: box-shadow .4s ease-in-out;
             color:#28C6FF;
           }
          .header-fix .nav-container ul li a:hover i, .content .nav-container ul li a:active i, .content .cd-3d-nav-container ul li a:focus i {
            box-shadow: 0 0 0px 0px  rgba(238,59,36,0.5);
            color: #EE3B24;
          }

           .nav-container ul li a span {
            float: left;
            display: block;

               font-size: 16px;
               font-weight: 400;
               text-transform: uppercase; }
          .nav-container ul li a .icon + span {
            margin: 22px 17px 0 5px;
            transition: margin .5s;
          }
           .nav-container ul li a:hover .icon + span {
            color:#28C6FF;
            transition: margin .5s; }
            .header-fix .nav-container ul li a:hover .icon + span {
            color:#EE3B24;}
.line_bg{width: 100%;height: 4px;background: url("img/color_border.jpg");}
.line_bg_2{width: 100%;height: 4px;background: #59A5B7;}
.portfolio{background: #fff;position: relative;}
.portfolio .icon {
    width: 30px;
    margin: 0 auto;
}
.portfolio .title{text-align: center;margin-top: 3%;}
 .portfolio h1 {
     text-align: center;
     font-size:42px;
     text-transform: uppercase;
     color: #333;
     display: inline-block;
     padding: 0 0px 10px 0;
     margin: 20px 0;
     border-bottom: 2px solid #333;
     position: relative;
 }
 /*
.portfolio h1:after{
    background: url("img/pero.png") no-repeat;
    content: "";
    height: 41px;
    position: absolute;
    right: -39px;
    top: 12px;
    width: 41px;
}*/
 .portfolio .grid {
    padding: 20px 20px 5% 20px;
    margin: 0 auto;
    max-width: 1170px;
    list-style: none;
    text-align: center; }
   .portfolio .grid .box {
      display: inline-block;
      margin: 0;
      padding: 20px;
      text-align: left;
      position: relative; }
       .portfolio .grid .box figure {
        margin: 0;
        position: relative; }
        .portfolio .grid .box figure img {
          z-index: 10;
          transition: transform 0.4s;
          max-width: 100%;
          display: block;
          position: relative; }
       .portfolio .grid .box figure figcaption {
          height: 100%;
          width: 100%;
          opacity: 0;
          transform: scale(0.7);
          backface-visibility: hidden;
          transition: transform 0.4s, opacity 0.4s;
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px;
          background: #2c3f52;
          color: #ed4e6e; }
          .portfolio .grid .box figure figcaption h3 {
            margin: 0;
            padding: 0;
            color: #fff; }
          .portfolio .grid .box figure figcaption span:before {
            content: 'by '; }
           .portfolio .grid .box figure figcaption a {
            text-align: center;
            padding: 5px 10px;
            border-radius: 2px;
            display: inline-block;
            background: #ed4e6e;
            color: #fff;
            position: absolute;
            bottom: 20px;
            right: 20px; }
         .portfolio .grid .box figure:hover img,
        .portfolio .grid .box figure .cs-style-5 figure.cs-hover img {
          cursor: pointer;
          transform: scale(0.4); }
        .portfolio .grid .box figure:hover figcaption,
         .portfolio .grid .box figure .cs-style-5 figure.cs-hover figcaption {
          transform: scale(1);
          opacity: 1; }
   .left-control, .content .right-control {
    position: absolute;
    top: 159px;
    height: 51px;
    width: 51px;
    line-height: 48px;
    z-index: 20;
    font-size: 30px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
 .left-control:hover,
 .right-control:hover{color:#1897C5;}
.icon-gif{
    background: url("img/yet1.gif") no-repeat;
    width: 200px;
    height: 199px;
    position: absolute;
    left: 0;
    background-position: -169px -64px;
    top: -54px;
}
@-webkit-keyframes bouncer {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0); }
  40% {
    -webkit-transform: translateX(30px); }
  60% {
    -webkit-transform: translateX(15px); } }
@-moz-keyframes bouncer {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0); }
  40% {
    -moz-transform: translateX(30px); }
  60% {
    -moz-transform: translateX(15px); } }
@-o-keyframes bouncer {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateX(0); }
  40% {
    -o-transform: translateX(30px); }
  60% {
    -o-transform: translateX(-15px); } }
@keyframes bouncer {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0); }
  40% {
    transform: translateX(30px); }
  60% {
    transform: translateX(15px); } }
@-webkit-keyframes bouncer {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0); }
  40% {
    -webkit-transform: translateX(-30px); }
  60% {
    -webkit-transform: translateX(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0); }
  40% {
    -moz-transform: translateX(-30px); }
  60% {
    -moz-transform: translateX(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateX(0); }
  40% {
    -o-transform: translateX(-30px); }
  60% {
    -o-transform: translateX(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0); }
  40% {
    transform: translateX(-30px); }
  60% {
    transform: translateX(-15px); } }
  .content .left-control {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    left: -71px;
 }
  .content .right-control {
    animation: bouncer 2s infinite;
    -webkit-animation: bouncer 2s infinite;
    -moz-animation: bouncer 2s infinite;
    -o-animation: bouncer 2s infinite;
    right: -71px;
    /*animation:bounceLeft 3000ms infinite;
    -webkit-animation:bounceLeft 3000ms infinite;*/ }
  .content #home-slider:hover .left-control {
    left: 30px; }
  .content #home-slider:hover .right-control {
    right: 30px; }
  .content #particles {
    position: absolute;
    top: 0 !important;
    z-index: 1;
    background-size: cover; }
    .content #particles .pg-canvas {
      position: absolute;
      top: 0;
      z-index: 1; }
.section-bg{position: relative;}
.section-bg:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3) url("img/overaly.png");
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-menu, .icon-team, .icon-blog, .icon-home, .icon-contact, .icon-services, .icon-portfolio {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-menu:before {
  content: "\e000"; }

.icon-team:before {
  content: "\e001"; }

.icon-blog:before {
  content: "\e002"; }

.icon-home:before {
  content: "\e005"; }

.icon-portfolio:before {
  content: "\e006"; }

.icon-services:before {
  content: "\e003"; }

.icon-contact:before {
  content: "\e004"; }

/*
Text animation
*/

.parallax {
    min-height: 400px;
    height: 100%;
    background: transparent;
}
.service-content .icon-surround, .services4 .service-content .ico1,.services4 .service-content .ico2,.services4 .service-content .ico3,.services4 .service-content .ico4,.services4 .service-content .ico5,.services4 .service-content .ico6 {
    float: left;
    margin: 0;
    width: 70px;
    height: 70px;
    background-size: 100%;
}

.services4 .service-content h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 2px 0 10px;
    margin-left: 88px;
}
.servises  .box{
    position: relative;
    width: 146px;
    margin:0 auto;
}
.service-content .icon-surround i {font-size:30px; line-height:65px }
.service-content {text-align:center; color:#444}

.services4 .service-content p {
    font-weight: 400;
    text-align: left;
    margin-left: 88px;
    padding: 0;
}

.services4 .service-content {
    margin-bottom: 13px;
}

.service-content:hover .icon-surround, .services4 .service-content:hover .ico1,.services4 .service-content:hover .ico2,.services4 .service-content:hover .ico3,.services4 .service-content:hover .ico4,.services4 .service-content:hover .ico5,.services4 .service-content:hover .ico6 {
    background-color: #e96546;
    border-color: #e96546;
    color:#fff
}
.services {
    padding: 70px 90px 30px;
    background: url("images/service-bg.png")/*tpa=http://chemistry.beantownthemes.com/images/service-bg.png*/ no-repeat center 90px;
}

.services3,.services4 {
    padding: 20px 0 0 !important;
    background: none;
}

.service-content {
    position: relative;
}

.icon-surround-1, .service-content .icon-surround, .service-content .ico1,.service-content .ico2,.service-content .ico3,.service-content .ico4,.service-content .ico5,.service-content .ico6 {
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #888;
    margin: 0 auto 20px;
}

.service-content .icon-surround-1.new-lh {
    /* line-height:150px */
}
.service-content .icon-surround-1 span, .service-content .ico1 span,.service-content .ico2 span,.service-content .ico3 span,.service-content .ico4 span {
    width: 35px;
    height: 25px;
    padding-top:5px;
    background: #fff url("images/pat-bg.png")/*tpa=http://chemistry.beantownthemes.com/images/pat-bg.png*/;
    display: table;
    text-align: center;
    line-height: 25px;

    color: #444;
    border-radius: 50%;
    border: 2px solid #888;
    font-size: 19px;
    position: relative;
    font-family:  'Roboto', sans-serif;
}

.service-content:hover .icon-surround-1, .service-content:hover .ico1,.service-content:hover .ico2,.service-content:hover .ico3,.service-content:hover .ico4,.service-content:hover .ico5,.service-content:hover .ico6 {
    background-color: #e96546;
    border-color: #e96546;
    background-position: 50% -130px;
}

.service-content:hover .icon-surround-1 span, .service-content:hover .ico1 span,.service-content:hover .ico2 span,.service-content:hover .ico3 span,.service-content:hover .ico4 span {
    background: #e96546;
    border-color: #e96546;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.service-content .icon-surround-1 span:before, .service-content .ico1 span:before,.service-content .ico2 span:before,.service-content .ico3 span:before,.service-content .ico4 span:before {
    position: absolute;
    display: block;
    content: "";
    border: 1px solid #fff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;

}
.icon-surround-1 i {
    font-size:50px;
    line-height:126px;
    color:#444
}
.service-content:hover .icon-surround-1 i {
    color:#fff
}
.service-content h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.service-content p {
    text-align: center;
    padding: 0 10px;
}

.services .service-content:hover h4,.services .service-content:hover p {
    color: #e96546;
}
.services4 .service-content.ico1 {
    background-position: 50% 2px;
}

.services4 .service-content .ico2 {
    background-position: 50% 2px;
}

.services4 .service-content .ico3 {
    background-position: 50% 2px;
}

.services4 .service-content .ico4 {
    background-position: 50% 2px;
}

.services4 .service-content .ico5 {
    background-position: 50% 2px;
}

.services4 .service-content .ico6 {
    background-position: 50% 2px;
}
.services-popup {
    position: absolute;
    background: #E96546;
    width: 200px;
    margin: 0 auto;
    display: table;
    z-index: 999;
    left: -25px;
    padding: 15px 15px 15px;
    visibility: hidden;
    opacity: 0;
    margin-top: -25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.services-popup h4 {
    color: #fff;
    font-size: 16px;
}

.services-popup p {
    color: #fff;
    margin-top:6px;
    font-size: 12px;
    line-height: 18px;
}

.services-popup:after {
    content: '';
    width: 30px;
    height: 13px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -13px;
    background: url("img/popup-arrow.png")/*tpa=http://chemistry.beantownthemes.com/images/popup-arrow.png*/;
}


.icon-code:before {
    content: "\e31d";
}
.servises{margin-top:5%;position: relative;z-index: 100;border-bottom: 3px solid #59A5B7;padding-bottom: 2%;}
.service-content:hover {
    cursor: pointer;
}

.service-content:hover .services-popup{
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* --------------------------------
xclip
-------------------------------- */


/*# sourceMappingURL=style.css.map */
.block-opacity{
  width: 100%;
  height: 100%;
  background:black;
  position:absolute;
  z-index: 100;
  opacity: 0.7;
  display: none;
}

.scale{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);

}

.over{
    position: fixed;
    lef: 0;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;

}
 .cmn-toggle-switch {
    display: none;
    position: absolute;
    overflow: hidden;
     right:15px;
     top: 30px;
    margin: 0;
    padding: 0;
    float: right;
    width: 40px;
    height: 36px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
 .cmn-toggle-switch span {
    background: white none repeat scroll 0 0;
    display: block;
    height: 2px;
    left: 7px;
    position: absolute;
    right: 7px;
    top: 8px; }
 .cmn-toggle-switch span::before,
 .cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: ""; }
 .cmn-toggle-switch span::before {
    top: 9px; }
 .cmn-toggle-switch span::after {
    bottom: -18px; }
 .cmn-toggle-switch__htx {
    background-color: #302341; }
 .cmn-toggle-switch__htx span {
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s; }
 .cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0; }
 .cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform; }
 .cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform; }
 .cmn-toggle-switch__htx.active {
    background-color: #F22A54; }
.cmn-toggle-switch__htx.active span {
    background: none; }
.cmn-toggle-switch__htx.active span::before {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
 .cmn-toggle-switch__htx.active span::after {
    bottom: -9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
 .cmn-toggle-switch__htx.active span::before,
 .cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0, 0.3s;
    transition-delay: 0, 0.3s; }
/*
------------------------------------------------------------------------------------------
*/
.about-us{min-height: 538px; padding: 5% 0;position: relative; background: transparent;}
.about-us .container-b {max-width: 1280px;margin: 0 auto; position: relative;z-index: 5;}
.about-us:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
}
.plus-img{
    display: block;
    float: left;
    width: 139px;
    margin: 128px 0 0 194px;
}
.title-about-us{
    margin:3%;
    text-align: center;
}
.title-about-us h1{
    text-align: center;
    font-size:42px;
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    padding: 0 0px 10px 0;
    margin: 20px 0;
    border-bottom: 2px solid #333;
    position: relative;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}
.space h3{
    font-size:34px;
    font-weight: 400;
    margin-bottom:15px;
    color: #fff;}
.space h5{
    font-size:20px;
    font-weight: 400;
    margin-bottom:15px;
    color: #fff;}
.progress {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 10px;
    margin-bottom: 23px;
    overflow: hidden;
}
.progress-bar {
    background-color: #2196f3;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 23px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress-striped .progress-bar, .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar, .progress-bar.active {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress-bar-success {
    background-color: #4caf50;
}
.progress-striped .progress-bar-success {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
    background-color: #9c27b0;
}
.progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
    background-color: #ff9800;
}
.progress-striped .progress-bar-warning {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
    background-color: #e51c23;
}
.progress-striped .progress-bar-danger {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#test{height: 1000px;}

.about-us .img1{
    left: 121px;
    position: absolute;
    top: 100px;
}
.about-us .img2{
    left: 0;
    max-width: 297px;
    position: absolute;
    top: 257px;
    z-index: 5;
}
.about-us .img3{
    max-width: 200px;
    position: absolute;
    left:380px;
    top: 236px;
    z-index: 5;
}
.about-us .img4{
    position: absolute;
    left: 475px;
    top: 304px;
    z-index: 6;
}

.slider-caption:after {
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    content: "";

    height: 400px;
    position: absolute;
    width: 100%;
}
.contact{ position: relative;padding: 3% 0;}
.title-contact .icon {
    width: 30px;
    margin: 0 auto;
}
.contact canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.input_contact{
    position: absolute;
    z-index: 500;
}

.start_work{
    padding: 3% 0 5% 0;
    background: #DBF1FA;
}
.start_work h2{
    font-size: 35px;
}
.start_work .left{
    float:left;
    margin-left: 41px;
}
.start_work .sub-text{
    font-size: 17px;
    margin-top: 5px;
}
/* Box colors */
.bg-1 {
    background: #ECEFF1;
    color: #37474f;
}
.bg-2 {
    background: #7986cb;
    color: #ECEFF1;
}
.bg-3 {
    background: #37474f;
    color: #fff;
}

/* Common button styles */
.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
    color: #37474f;
    border-color: #37474f;
}
.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}
.bg-3 .button {
    color: #fff;
    border-color: #fff;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}
.button--size-m {
    font-size: 16px;
}
.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button--text-thin {
    font-weight: 300;
}
.button--text-medium {
    font-weight: 500;
}
.button--text-thick {
    font-weight: 600;
}
.button--round-s {
    border-radius: 5px;
}
.button--round-m {
    border-radius: 15px;
}
.button--round-l {
    border-radius: 40px;
}

/* Borders */
.button--border-thin {
    border: 1px solid;
}
.button--border-medium {
    border: 2px solid;
}
.button--border-thick {
    border: 3px solid;
}

/* Individual button styles */

.button--nuka {
    color: #fff;
    margin: 17px 0 0 19%;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted {
    color: #37474f;
}
.button--nuka::before,
.button--nuka::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    background: #0773BA;
    z-index: -1;
}
.button--nuka::before {
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.button--nuka::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(1.1, 1, 1);
    transform: scale3d(1.1, 1, 1);
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
}
.button--nuka::before,
.button--nuka::after {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
    background: #fff;
}
.button--nuka:hover {
    color: #fff;
}
.button--nuka:hover::before {
    opacity: 1;
}
.button--nuka:hover::after {
    background-color: #37474f;
}
.button--nuka.button--inverted:hover::after {
    background-color: #7986cb;
}
.button--nuka:hover::after,
.button--nuka:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);

}
.button--nuka:hover:before{background:#EE3B24;}
.icon-pentagon{
    position: relative;
    float: left;
    width: 39px;
    background: none repeat scroll 0 0 #ee3b24;
}
.icon-pentagon:before {
    border-bottom: 10px solid #ee3b24;
}
.icon-pentagon:before {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    top: -10px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.icon-pentagon:after {
    border-top: 10px solid #ee3b24;
}
.icon-pentagon:after {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    bottom: -10px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.fa-meh-o:before {
    content: "\f11a";
}
.icon-pentagon i {
    font-size: 20px;
    color:#fff;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.title-about-us .icon{width: 30px;margin:0 auto;}
/*!

---------------------------------------------------------
 contact
*/
.title-contact{text-align: center;padding: 54px 0;background: #fff;position: relative;z-index: 5;}
.title-contact h1{
    text-align: center;
    font-size:42px;
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    padding: 0 0px 10px 0;
    margin: 20px 0;
    border-bottom: 2px solid #333;
    position: relative;
}
/*
.title-contact h1:after{
    background: url("img/pero.png") no-repeat;
    content: "";
    height: 41px;
    position: absolute;
    right: -39px;
    top: 5px;
    width: 41px;
}*/
.contact .form-contact{
    position: relative;
    z-index: 500;
    max-width: 400px;
    width: 100%;
    margin: 4% auto 0 auto;
}
.contact .form-contact p{
    font-size:15px;
    color:#fff;
    font-weight: 100;
}
.space{
    max-width: 450px;
    margin: 0 auto;

}
.contact .form-contact .input-field textarea{
    height: 70px;
    border:1px solid #B8B8B8;
    background: none;
    padding: 8px 10px;
    resize: none;
    outline: none;
    color:#fff;
    margin-top:3px;
    width: 100%;
    border-radius: 3px;
}
.contact .head-mail{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 57px;
    position: relative;
    text-align: center;
    z-index: 100;
}
.contact .head-mail span{
    margin: 13px auto 0 auto;
    width: 30px;
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    display: block;
}
.contact .head-mail span i{

    width: 30px;
    display: block;
    overflow: hidden
    height: 16px;
}
@-webkit-keyframes drop	{
    0%   { top:0px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}

@keyframes drop	{
    0%   { top:0px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}
.contact .head-mail p{position: relative;display: inline-block;
    font-weight: 300;}
.contact .about-info{position: relative;z-index: 1000;max-width: 80%;}
.contact .about-info .head h2{
    position: relative;display: inline-block;font-weight: 300;
}
.contact .about-info .head{text-align: center;margin:57px 0 79px 0;}
.contact .about-info .head h2:before {
    background: #6BC3E9;
    content: "";
    top:9px;
    height: 1px;
    right: -60px;
    position: absolute;
    width: 45px;
}
.contact .about-info p{
    color:#fff;
}
.contact .about-info .head h2:after {
    background: #6BC3E9;
    content: "";
    height: 1px;
    left: -60px;
    top:9px;
    position: absolute;
    width: 45px;
}
.head-mail p:after {
    background: #6BC3E9;
    content: "";
    height: 1px;
    left: -60px;
    top:9px;
    position: absolute;
    width: 45px;
}
.head-mail p:before {
    background: #6BC3E9;
    content: "";
    top:9px;
    height: 1px;
    right: -60px;
    position: absolute;
    width: 45px;
}
.input-field {
    position: relative;
    margin: 18px 0;
    z-index: 200;
}
.input-field input{
    border:none;
    background: none;
    border-bottom:1px solid  #9e9e9e;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    color:#fff;
    height: 3rem;
    margin: 0 0 15px;
    outline: medium none;
    padding: 0;

    width: 100%;
}
.input-field label{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: #fff;
    left: 0;
    font-size:15px;
    position: absolute;
    top: 0;
}
.contact .form-contact .sub{
    background: #3A9AD9;
    margin-top:30px;
    float:left;
    border-radius: 3px;
}
.contact .form-contact .sub .submit{
    background: none;
    border: none;
    border-radius: 3px;
    width: 100px;
    outline: none;
    font-size: 15px;
    padding: 9px 15px;
    color: #fff;
    text-transform: uppercase;
}
@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}
.contact .about-info {
    position: relative;z-index: 100;}
.contact .about-info h2{
    color:#fff;
    font-size: 24px;
}
.contact .about-info p {
    color: #fff;
    margin: 13px 0;
    border-bottom: 1px solid #3A9AD9;
    font-weight: 400;
    padding-bottom: 15px;
    font-size: 16px;
}
#loader {
    z-index: 800;
    display: block;
    position:fixed;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -125px 0 0 -125px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.input-field input:focus{
    border-bottom: 2px solid #6BC3E9;
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1)
    }
    50% {
        -webkit-transform: rotate(180deg) scale(.6);
        transform: rotate(180deg) scale(.6)
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1)
    }
}
.ball-clip-rotate-multiple {
    position: relative;
    width: 38px;
    display: none;
    float: right;
    opacity: 0;
}
.ball-clip-rotate-multiple>div {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    -webkit-animation: rotate 1s 0s ease-in-out infinite;
    animation: rotate 1s 0s ease-in-out infinite;
}
.ball-clip-rotate-multiple>div:last-child {
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    border-color: #fff transparent;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.check_mark{
    width: 38px;
    display: none;
    opacity: 0;
    height: 15px;
    margin-top: 9px;
    float:right;
    background: url("img/check-mark.png") no-repeat center center;
}
.mobile-slider{position: absolute;
    z-index: 100;
    width: 100%;
    max-width: 1170px;
    top: 0;}
.mobile-slider .html5{
    float:left;
    position: relative;
    width:280px;
    height: 400px;
}
.mobile-slider .html5 .slide-img1{
    position: absolute;
    top: 75px;
}
.mobile-slider .html5 .slide-img2 {
    position: absolute;
    top: 75px;
    left: 134px;
}
.mobile-slider .html5 .slide-img3 {
    position: absolute;
    top: 125px;
    left: 49px;
    z-index: 5;
}
.mobile-slider .html5 .slide-img4 {
     position: absolute;
    top: 125px;
    left: 134px;
     z-index: 5;
 }
.mobile-slider .html5 .slide-img5 {
    position: absolute;
    top: 101px;
    left: 29px;
    z-index: 3;
}
.mobile-slider .html5 .slide-img6 {
    position: absolute;
    top: 101px;
    left: 134px;
    z-index: 3;
}
.mobile-slider .text-html {
    font-size: 24px;
    margin-bottom: 10px;
    position: absolute;
    top: 42px;
    text-transform: uppercase;
    font-weight: 100;
    left: 23px;
}
.mobile-slider .text-css {
    font-size: 24px;
    margin-bottom: 10px;
    position: absolute;
    top: 42px;
    text-transform: uppercase;
    font-weight: 100;
    left: 152px;
}
.mobile-slider .js{
    float:right;
    position: relative;
    width: 280px;
    margin-right:5%;
}
.mobile-slider .js .right-js{
    position: absolute;
    right: 0;
    top: 78px;
}
.mobile-slider .js .left-js{
    position: absolute;
    right: 135px;
    top: 78px;
}
.mobile-slider .js .right-js-b{
    position: absolute;
    right: 19px;
    top: 93px;
}
.mobile-slider .js .js-b{
    position: absolute;
    right: 55px;
    top: 113px;
}/*
.menu-wrap {
    position: fixed;
    margin-top:0 !important;
    z-index: 1001;
    width: 250px;
    left:-250px;
    top:0;
    height: 100%;
    font-size: 1.15em;
    background: #365371;
}*/
@media  (max-width: 1200px) {
    .mobile-slider{max-width: 981px;}
    .plus-img {
        margin: 128px 0 0 136px;}
    .about-us .container-b{max-width: 970px;}
    .about-us .img1{
        left: 88px;
        position: absolute;
        top: 129px;
        max-width: 283px;
    }
    .about-us .img2{
        left: 0;
        max-width: 220px;
        position: absolute;
        top: 257px;
    }
    .about-us .img3{
        max-width: 108px;
        position: absolute;
        left: 279px;
        top: 243px;
    }
    .about-us .img4{
        position: absolute;
        left: 353px;
        top: 295px;
        max-width: 50px;
    }

}
@media  (max-width: 1024px) {
    .plus_img img{width: 130px !important;height: 130px !important;}
    .flex-caption, .nivo-caption, .slider-caption{
        top:37%;
    }
}

@media(min-width: 992px){

}
.morph-shape{display: none;}



@media  (max-width: 991px){
    .mobile-slider .html5{margin:0 auto;float:none;}
    .mobile-slider .js{display: none;}
    .mobile-slider {max-width: 720px;}
    .plus-img {display: none;}
    .content #home-slider .item1{background: url(img/image-bg-mobile.jpg)no-repeat;background-size: cover;}
    .content #home-slider .item2{background: url(img/2-mobile.jpg)no-repeat;background-size: cover;}
    .morph-shape{display: block;}
    .close-button{display: block;outline: none; }
    .menu-button{display: block;}
    #header .header-fix{padding: 8px 15px 12px 15px;}
    /* Menu */
    #header{height: auto;}

    .morph-shape {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        fill: #373a47;
    }
    .icon-gif{display: none;}
    .menu{margin: 14% auto 0 23%;display: block;width: 210px;}
    .menu li{border-bottom:1px solid #323440;}
    .mobile-logo{display: block;}
    .nav-container{display: none;}
}



@media  (max-width: 768px){
    .cmn-toggle-switch{display: block;}
    .right_bg .container .row > div{padding: 0;}
    .about-us .container-b > div{width: 100%;}
    .about-us .img1{left: 88px;position: absolute;top: 24px;max-width: 283px;}
    .about-us .img2{left: 0;max-width: 220px;position: absolute;top: 154px;}
    .about-us .img3{max-width: 108px;position: absolute; left: 302px;top: 133px;}
    .about-us .img4{position: absolute;left: 379px;top: 190px;max-width: 50px;z-index: 6;}
    .block-img-responsive{position: relative;margin: 0 auto;width: 434px;height: 295px;}
    .left-bg{width: 65%;}
    .nav-container ul li a{height: auto;}
    .nav-container ul li a span{font-size: 15px;}
    .nav-container ul li a i{margin:5px 10px;}
    .nav-container ul li a .icon + span {
        margin: 14px 17px 0 5px;}
    .nav-container ul{margin:0 auto;width: 186px;}

}
@media  (max-width: 767px){
    .contact .form-contact{max-width: 80%;}
    .space h3{text-align: center;}
    .mobile-slider{max-width: 96%;}
    .contact .about-info p{text-align: center;}
    .contact .about-info{margin:0 auto;}
}
@media  (max-width: 640px){
    .title-head h2{font-size: 42px;}
    .icon-gif{display: none;}
}
@media  (max-width: 480px){
    .about-us .block-img-responsive img{display: block;margin:10px auto;position: static;}
    .portfolio .grid > div{width: 100%;}
    .cd-intro{top:260px;}
    .menu-button{margin-top:-1px;}
    #header .header-fix .logo-b .name{margin:4px 0 4px 0;font-size:19px;}
    #header .logo-b .position{font-size: 13px;}
    .content #home-slider .caption h1 {font-size: 34px;}
    .cd-headline.clip span{font-size: 24px;}
    .header-fix .logo-b .avatar{float:left !important;}
    .header-fix  .logo-b {width:204px !important;}
    .header .logo-b{width: 100%;}
    .header .header-fix .logo-b .logo-text{margin:0 0 0 11px;}
    .header .logo-b .avatar .sniper{width: 110px; height: 110px;}
    .header .logo-b .avatar{margin:0 auto;float:none;width: 110px; height: 110px;}
    .header .logo-b .logo-text{float:none;margin:0;}
    .header .header-fix .logo-b .logo-text{float:left;}
    .header .header-fix .avatar{margin:0 auto;float:none;width: 40px !important; height: 40px !important;}
    .header .header-fix .avatar .sniper{width: 40px !important; height: 40px !important;;}
    .block-img-responsive{width:100%;height: auto;}
    .header .header-fix .logo-b .avatar .sniper {width: 45px;height: 45px;}
    .header .header-fix .logo-b .avatar {width: 45px;height: 45px;margin-top: -3px;}
    .header .header-fix .logo-b .name{font-size: 16px;margin: 0px 0 2px 0;}
    .header .header-fix {padding: 5px 15px;}
    .start_work .sub-text{text-align: center;}
    .start_work h2 {margin-top:19px;}
    .title-about-us h1{font-size: 33px;}
    .title-about-us {margin: 8% 0 0 0;}
    .space h5{margin-bottom: 5px;font-size: 18px;}
    .progress{margin-bottom: 16px;}
    .title-head h2 {font-size: 32px;}
    .mobile-slider .html5 .slide-img2{max-width: 110px;}
    .mobile-slider .html5 .slide-img1{max-width: 110px;}
    .mobile-slider .html5 .slide-img5{max-width: 81px;}
    .mobile-slider .html5 .slide-img6{max-width: 81px;}
    .mobile-slider .html5 .slide-img3{max-width: 61px;}
    .mobile-slider .html5 .slide-img4{max-width: 61px;}
    .flex-caption, .nivo-caption, .slider-caption{top:30%;}
    .mobile-slider .html5 .slide-img2{left:118px;}
    .mobile-slider .html5 .slide-img4{left: 119px;}
    .mobile-slider .html5 .slide-img6{left:119px;}
    .mobile-slider {max-width: 232px;margin: 0 auto;position: relative;}
    .mobile-slider .html5{width: 100%;}
    .slider-caption:after{top:0;}
    #particles{display: none;}
    .header .logo-b .position{text-align: center;font-size: 13px;}
    .services-popup{width: 162px;padding: 15px 5px 15px;}
    .icon-surround-1, .service-content .icon-surround, .service-content .ico1, .service-content .ico2, .service-content .ico3, .service-content .ico4, .service-content .ico5, .service-content .ico6{width: 110px;height: 110px;}
    .servises .box{width: 112px;}
    .icon-surround-1 i{}
}





